body {

    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

/* HEADER (BELOW) */

.header {
    display: flex;
    justify-content: space-between;
    background: #1f2937;
}

.left-link {
    display: flex;
    padding-left: 270px;
}

.right-link {
    display: flex;
    gap: 20px;
    padding-right: 270px;
}
/* HEADER (ABOVE) */

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

ul {
    list-style: none;
}

/* use % to resize image */
img {
    max-width: 300%;
    max-height: 300%;
    border: 10px solid ;
    background-color: #e5e7eb;
}

.bigtext {
	font-size: 48px;
}

.smalltext {
    font-size: 18px;
}

.one {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hero {
    padding-top: 20%;
    gap: 10%;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 2% 5%;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

/*above the fold and boxing code (start)*/
.section {
    width: auto;
    height: 80vh;
    color: white;
    padding: 40vh;
}

body {
    box-sizing: border-box;
    margin: 0;
}

.one {
    background: #1f2937;
    color: white;
	display: flex;
	padding-top: 50px;

}

.two {
    background: white;
}

.three {
    background: #e5e7eb;
}

.four {
    background: white;
}

/*above the fold and boxing code (end)*/

.two {
    color: black;
    
}