body {

    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.navbar-container {
    background-color: #1f2937;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: max(90vw, 1280px);
}

.navbar-logo {
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0.5rem;

}

.right-links {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

li {
    list-style-type: none;
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration: none;
}

/* use % to resize image */
.goku {
    max-width: 30%;
    /*max-width and max-height was 100% */
    max-height: 30%;
    border: 10px solid;
    background-color: #e5e7eb;
}

.bigtext {
    font-size: 48px;
}

.smalltext {
    font-size: 18px;
}

.herotext {
    padding-top: 8%;
    gap: 10%;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 2% 5%;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

/*above the fold and boxing code*/
.section {
    width: auto;
    color: white;
    padding: 100px;
    /*padding was 40vh*/
}

body {
    box-sizing: border-box;
    margin: 0;
}

.one {
    background: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.two {
    background: white;
}

.three {
    background: #e5e7eb;
}

.four {
    background: white;
    padding-bottom: 150px;
}

/*-----------*/

.two {
    color: black;
}

.food {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 5%;
}

/*section two*/

.flex-container {
    display: flex;
    flex-basis: 0;
    gap: 5%;
}

.food1,
.food2,
.food3,
.food4 {
    min-width: 0
        /*prevent flexbox from overflowing*/
}

.text {
    text-align: center;
}

/*--------------*/

/*Section 3*/

.three {
    color: black;
    font-size: 25px;
    text-align: center;
    font-style: italic;
}

/*Section 4*/

.four {
    display: flex;
    justify-content: center;
}

.cta1 {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    width: 25%;
    padding-left: 5%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cta2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    width: 25%;
    padding: 5% 1%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cta-text {
    color: white;
    font-style: bold;
    font-size: 20px;
    gap: 0;

}

h4 {
    padding-top: 10%;
    margin-bottom: 2%;
}

h6 {
    margin : 0; 
    padding-top:0;
    font-weight: 300;
}

button1 {
    background-color: #3882f6;
    color: white;
    padding: 2% 8%;
    font-weight: bold;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f2937;
    color: white;
    text-align: center;
    -top: 50%;
 }